		*{
			margin: 0;
			padding: 0;
			box-sizing: border-box;
			font-family: 'Montserrat Alternates', sans-serif;
		}

		body{
			background-image: url('../fondo.jpg') !important;
			background-size: 100vw auto;
			background-repeat: repeat-y;
			justify-content: center;
			min-height: 100vh;
		}

		a{
			text-decoration: none;
		}