*{
	margin: 0;
	padding: 0;
	outline: none;
	box-sizing: border-box;
	font-family: sans-serif;
}

body{
	height: 100vh;
	background: black;
}

#error-mensaje{
	position: absolute;
	top: 10%;
	left: 15%;
	right: 15%;
	bottom: 10%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #fff;
	box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
	border: 2px solid #2DBDE8;
}

#error-mensaje .container{
	max-width: 600px;
	text-align: center;
}

.container h1{
	font-size: 18vw;
	line-height: 1em;
	position: relative;
	text-shadow: 0 0 5px #2DBDE8, 0 0 5px #2DBDE8;
}

.container h4{
	font-size: 1.5em;
	margin-bottom: 20px;
	text-transform: uppercase;
	color: #000;
	font-size: 2em;
	max-width: 600px;
	position: relative;
}

.container p{
	font-size: 1.2em;
	color: #0d0d0d;
}

.container .btn{
	margin: 25px 0;
	display: inline-block;
}

.container .btn a{
	display: inline-block;
	margin: 0 10px;
	text-decoration: none;
	border: 2px solid #2DBDE8;
	color: #2DBDE8;
	font-weight: 500;
	padding: 10px 25px;
	border-radius: 25px;
	text-transform: uppercase;
	transition: all 0.5s ease;
}

.container .btn a:hover{
	background: #2DBDE8;
	color: #fff;
}